<h2><%= @question.title %></h2>
<h4>Asked by <%= @question.user.email %> on <%= @question.created_at.to_formatted_s(:short) %></h4>
<p><%= @question.content %></p>

<% if @question.user == current_user %>
  <%= link_to 'Edit', edit_user_question_path(@question, current_user) %>
<% end %>
